$error: #a90329; // bg msg erro
$white: #ffffff;
$black: #000000;


// card
$bgHeaderCard: #bcc7ff;
$textColor: #374A59;

$mainColor: #bcc7ff;
$colorSecundary: #5434af;


$font: 'Metropolis', sans-serif;


$borderRadius: 15px;
