$error: #a90329; // bg msg erro
$white: #ffffff;
$black: #000000;


// card
$bgHeaderCard: #EBF5FB;
$textColor: #374A59;

$mainColor: #ddf4ff;


$colorPrimary: #ddf4ff;
$colorSecondary: #5434af;
$purpleColor: #5434af;

$font: 'DM Serif Display';




$borderRadius: 15px;
