@import 'variables';


* {
  padding: 0px;
  margin: 0px;
}

.button {
  font-family: $font;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  margin-top: 30px;
  color: $white;
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15); */
  border-radius: 20px;
  width: 150px;
  height: 40px;
  background: $colorSecundary;
  border: none;
  justify-content: center;

  a {
    color: $white;
    text-decoration: none;
  }
}
